* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: red;
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: aqua;
    z-index: -1;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 60vh;
    background-color: green;
    z-index: 1;
    margin-left: 10vw;
    margin-top: 20vh;
    display: none;
}

#image {
    height: 40px;
}